{% extends "network/layout.html" %}

{% block body %}
<section class="container">
    {% if request.user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <div class="add-post">
            {{ add_post_form }}
            <div class="add-post__button">
                <input type="submit" />
            </div>
        </div>
    </form>
    {% endif %}

    {% for post in posts %}
    <p>{{ post.original_poster }}</p>
    <p>{{ post.timestamp }}</p>
    <p>{{ post }}</p>
    {% empty %}
    <p>No posts.</p>
    {% endfor %}
</section>
{% endblock %}