{% extends "network/layout.html" %}

{% block body %}

<section class="login">
    <section class="introduction">
        <img src="./../../static/network/img/network.png" alt="network" width="100%">
    </section>
    <section class="login-user">
        <h2>Login</h2>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>

        {% if message %}
        <div class="error">{{ message }}</div>
        {% endif %}
        <p>
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </p>
    </section>
</section>

{% endblock %}